<div class="body currency-note">
<div class="pieContainer">
    <h2>Categorywise Expense Chart for this month</h2>
    <canvas id="categorywiseExpenseChart" class="chart"></canvas>
    
</div>
<div class="pieContainer" style="text-overflow: clip;">
    <h2>Categorywise Income Chart for this month</h2>
    <canvas id="categorywiseIncomeChart" class="chart"></canvas>
</div>
<div class="lineContainer">
    <h2>Monthwise Expense Chart for this year</h2>
    <canvas id="monthwiseExpenseChart" class="chart"></canvas>
</div>
<div class="lineContainer">
    <h2>Monthwise Income Chart for this year</h2>
    <canvas id="monthwiseIncomeChart" class="chart"></canvas>
</div>
<div class="barContainer">
    <h2>Income vs Expense Chart for this year</h2>
    <canvas id="incomevsexpenseChart" class="chart"></canvas>
</div>
<div class="lineContainer">
    <h2>Savings Chart for this year</h2>
    <canvas id="savingsChart" class="chart"></canvas>
</div>
</div>

