<div>
    <h1 style="text-align: center;color: #52446e;" class="form-header">Forgot Password</h1>
    <form class="reg-form" [formGroup]="regFormGroup" (ngSubmit)="submitData()">

        <div class="label-input">
            <label for="email">Email</label>
            <input type="email" name="email" required email formControlName="email">
        </div>
        <p *ngIf="this.getFormControl('email')?.dirty && this.getFormControl('email')?.touched && this.getFormControl('email')?.errors?.['email']"
            class="errors">invalid email</p>
        <p *ngIf="isFormControlError('email')" class="errors">email required</p>
        <span class="loader" *ngIf="isLoading"></span>
        <button [disabled]="this.regFormGroup.invalid" *ngIf="!isLoading" class="post-btn">Send Mail</button>
        <button type="reset">reset</button>
    </form>
</div>

