<app-navbar></app-navbar>
<div class="container ">

    <div class="card currency-note">
        <h1>Transactions</h1>

        <div class="top-bar">
            <div>

                <input type="text" [(ngModel)]="search" (ngModelChange)="onSearch()"  placeholder="Search transactions based on notes...">
            </div>

            <button (click)="openModal()">Add Transaction</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Amount(₹) <button (click)="onSort('amount','asc')" style="margin: 5px;"><i
                                class="fa-solid fa-arrow-down-short-wide" style="color: rgb(0, 4, 10);"></i></button>
                        <button (click)="onSort('amount','desc')" style="margin: 5px;"><i
                                class="fa-solid fa-arrow-down-short-wide fa-rotate-180"
                                style="color: rgb(0, 4, 10);"></i></button>
                    </th>
                    <th>Date <button (click)="onSort('dateOfTransaction','asc')" style="margin: 5px;"><i
                                class="fa-solid fa-arrow-down-short-wide" style="color: rgb(0, 4, 10);"></i></button>
                        <button (click)="onSort('dateOfTransaction','desc')" style="margin: 5px;"><i
                                class="fa-solid fa-arrow-down-short-wide fa-rotate-180"
                                style="color: rgb(0, 4, 10);"></i></button>
                        <button (click)="showDateFields()">Filter</button>
                        <div *ngIf="showDates" style="display: flex;flex-direction: column;">
                            <label for="start">Start date</label>
                            <input type="date" name="start" [(ngModel)]="start" id="">
                            <label for="end">End date</label>
                            <input type="date" name="end" [(ngModel)]="end" id="">
                            <button (click)="onFilterChangeOfDates(start,end)"><i class="fa-solid fa-filter"
                                    style="color: rgb(0, 4, 10);"></i></button>
                        </div>
                    </th>
                    <th>Type
                        <select name="type" (change)="onFilterChange('type',$event)">
                            <option value="">Filter</option>
                            <option value="income">Income</option>
                            <option value="expense">Expense</option>
                        </select>
                    </th>
                    <th>Category
                        <select name="category_name" (change)="onFilterChange('category', $event)">
                            <option value="">Filter</option>
                            <optgroup label="income">
                                <option *ngFor="let category of categories.income" [value]="category.name">{{category}}
                                </option>
                            </optgroup>
                            <optgroup label="expense">
                                <option *ngFor="let category of categories.expense" [value]="category.name">
                                    {{category.name}}</option>
                            </optgroup>

                        </select>
                    </th>
                    <th>Notes </th>
                    <th>Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trans of filteredTransactions">
                    <td>{{trans.id}}</td>
                    <td>{{trans.amount}}</td>
                    <td>{{trans.dateOfTransaction}}</td>
                    <td>{{trans.transaction_type}}</td>
                    <td>{{trans.category_name}}</td>
                    <td>{{trans.notes}}</td>
                    <td style="display: flex;"><button (click)="editTransaction(trans.id)" style="background: transparent;font-size: 1.5rem;width: fit-content;padding: 0;
                     margin-right: 7px;"><i class="fa-regular fa-pen-to-square"
                                style="color: rgb(39, 155, 247);"></i></button><button
                            (click)="deleteTransaction(trans.id)"
                            style="background: transparent;width: fit-content;padding: 0;"><i class="fa-solid fa-trash"
                                style="color: rgb(231, 15, 15);font-size: 1.5rem;"></i></button></td>
                </tr>
            </tbody>
            <div class="pagination">
                <button (click)="prevPage()" [disabled]="filters.pageNo === 1">Prev</button>

                <span>Page {{filters.pageNo}}</span>

                <button (click)="nextPage()" [disabled]="!hasNextPage">Next</button>
            </div>
        </table>
        <h1>bulk upload</h1>
        <input type="file" (change)="onFileSelected($event)" accept=".csv">
        <button (click)="onUpload()" [disabled]="!selectedFile">upload</button>
        <div *ngIf="fileResponse">
            <h2>Uploaded file</h2>
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>ID</th>
                        <th>Amount</th>
                        <th>Note</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>type</th>
                        <th>Errors</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of fileResponse;let i=index">
                        <td>{{row.errors.length==0?'✅':'❌'}}</td>
                        <td>{{i+1}}</td>
                        <td>{{row.amount}}</td>
                        <td>{{row.notes}}</td>
                        <td>{{row.category}}</td>
                        <td>{{row.date}}</td>
                        <td>{{row.type}}</td>

                        <td>
                            <div *ngFor="let error of row.errors">{{error}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal" id="categoryModal" [style.display]="showModal ? 'flex' : 'none'">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2 *ngIf="!isEditMode">Add Transaction</h2>
        <h2 *ngIf="isEditMode">Edit Transaction</h2>

        <form [formGroup]="transactionForm" (ngSubmit)="isEditMode?submitEdittedTransaction():addTransaction()">
            <label for="category_id">Category Name *</label>
            <select required name="category_id" formControlName="category_id">
                <optgroup label="income">
                    <option *ngFor="let category of categories.income" value="{{category.id}}">{{category.name}}
                    </option>
                </optgroup>
                <optgroup label="expense">
                    <option *ngFor="let category of categories.expense" value={{category.id}}>{{category.name}}</option>
                </optgroup>

            </select>

            <label for="amount">Amount</label>
            <input type="number" name="amount" formControlName="amount">

            <label for="dateOfTransaction">Transaction date</label>
            <input type="date" name="dateOfTransaction" formControlName="dateOfTransaction">
            <label for="notes">Notes</label>
            <textarea type="text" name="notes" formControlName="notes"></textarea>

            <!-- <label for="transaction_type">Transaction Type *</label>
            <select required name="transaction_type" formControlName="transaction_type">
                <option value="expense" selected>Expense</option>
                <option value="income">Income</option>
            </select> -->

            <button type="submit" class="submit-btn" *ngIf="!isEditMode">Save Category</button>
            <button type="submit" class="submit-btn" *ngIf="isEditMode">Update Category</button>
        </form>
    </div>
</div>