<div *ngIf="showPage">
    <h1 style="text-align: center;color: rgb(0, 65, 130);" class="form-header">Reset Password</h1>
    <form class="reg-form" [formGroup]="regFormGroup" (ngSubmit)="submitData()">

       <div class="label-input">
    <label for="password">password</label>
    <input type="password" name="password" required formControlName="password">
</div>
<p *ngIf="isFormControlError('password')" class="errors">password required</p>
<div class="label-input">
    <label for="confirmPassword">confirmPassword</label>
    <input type="password" name="confirmPassword" required formControlName="confirmPassword">
</div>
<p *ngIf="isFormControlError('confirmPassword')" class="errors">confirmPassword required</p>
<p *ngIf="checkPassword()" class="errors">passwords don't match</p>

        <button [disabled]="this.regFormGroup.invalid" class="post-btn">Reset password</button>
        <button type="reset">reset</button>
    </form>
</div>

