<div>
  <h1 class="form-header" style="text-align: center;color: rgb(0, 65, 130);">Login</h1>
<form class="reg-form" [formGroup]="regFormGroup" (ngSubmit)="submitData()">

<div class="label-input">
    <label for="email">Email</label>
    <input type="email" name="email" required email formControlName="email">
</div>
<p *ngIf="this.getFormControl('email')?.dirty && this.getFormControl('email')?.touched && this.getFormControl('email')?.errors?.['email']" class="errors">invalid email</p>
<p *ngIf="isFormControlError('email')" class="errors">email required</p>

<div class="label-input">
    <label for="password">password</label>
    <input type="password" name="password" required formControlName="password">
</div>
<p *ngIf="isFormControlError('password')" class="errors">password required</p>
<p class="links" style=" align-self: flex-end;" (click)="routeToPage('forgotPassword')">Forgot password?</p>
<button [disabled]="this.regFormGroup.invalid" class="post-btn">Login</button>
<button type="reset">reset</button>
<div>
  Don't have an account?
  <span class="links" (click)="routeToPage('register')">Register</span>
</div>
</form>
</div>