/* ===== GLOBAL THEME (₹100 NOTE INSPIRED) ===== */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(
        135deg,
        #ffffff 0%,
        #f6f3fa 40%,
        #e6dbf3 100%
    );
    color: #3e3550;
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    border-radius:0.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(184,158,220,0.2);
}

.navbar h2 {
    margin: 0;
    font-weight: 600;
    color: #6f5aa8;
}

.nav-links a {
    text-decoration: none;
    margin-left: 25px;
    color: #6f5aa8;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #4e3b8f;
}