<div>
  <h1 class="form-header" style="text-align: center;color: rgb(0, 65, 130);">Register</h1>
<form class="reg-form" [formGroup]="regFormGroup" (ngSubmit)="submitData()">

<div class="label-input">
    <label for="name">name</label>
    <input type="text" name="name" required formControlName="name">
</div>
<p *ngIf="isFormControlError('name')" class="errors">name required</p>
<div class="label-input">
    <label for="username">username</label>
    <input type="text" name="username" required formControlName="username">
</div>

<p *ngIf="isFormControlError('username')" class="errors">username required</p>
<div class="label-input">
    <label for="email">Email</label>
    <input type="email" name="email" required email formControlName="email">
</div>
<p *ngIf="this.getFormControl('email')?.dirty && this.getFormControl('email')?.touched && this.getFormControl('email')?.errors?.['email']" class="errors">invalid email</p>
<p *ngIf="isFormControlError('email')" class="errors">email required</p>

<div class="label-input">
    <label for="phone">phone</label>
    <input type="text" name="phone" required formControlName="phone">
</div>
<p *ngIf="isFormControlError('phone')" class="errors">phone required</p>
<p *ngIf="checkPhone()" class="errors">phone no. should be of 10 digits</p>
<div class="label-input">
    <label for="password">password</label>
    <input type="password" name="password" required formControlName="password">
</div>
<p *ngIf="isFormControlError('password')" class="errors">password required</p>
<div class="label-input">
    <label for="confirmPassword">confirmPassword</label>
    <input type="password" name="confirmPassword" required formControlName="confirmPassword">
</div>
<p *ngIf="isFormControlError('confirmPassword')" class="errors">confirmPassword required</p>
<p *ngIf="checkPassword()" class="errors">passwords don't match</p>
<button [disabled]="this.regFormGroup.invalid" class="post-btn">Register</button>
<button type="reset">reset</button>
</form>
</div>